.container_releases {
  display: flex;
  flex-wrap: wrap;
  padding: 7px;
  justify-content: center;
}
@media (max-width: 640px) {
  .container_releases {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
.container_releases .subcontainer_release {
  border: none;
  color: white;
  opacity: 1;
  transition: 0.3s;
}
.container_releases .subcontainer_release:hover {
  opacity: 0.8;
}
.container_releases .subcontainer_release .release {
  margin: 5px;
  display: block;
}
@media (max-width: 640px) {
  .container_releases .subcontainer_release .release .img_release {
    display: block;
    width: 100%;
  }
}

.logo {
  height: 100%;
  width: 150px;
  display: inline-block;
}

@media (max-width: 640px) {
  .custom_navbar {
    flex-direction: row-reverse;
  }
}

body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-left: 100px;
  margin-right: 100px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 50px;
  color: white;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 30px;
  color: white;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 14px !important;
  color: white;
  font-weight: 600;
}

h5 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 14px !important;
  color: white;
  font-weight: 300;
}

.text-center {
  color: white;
}

.datacontacto {
  color: white;
}

.background {
  background-color: #B4ACAA;
  color: black;
  border-bottom: 2px solid white;
}

.aAnimation {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}

.aAnimation:hover, a:focus {
  background-size: 100% 2px;
}

.button-music {
  font-family: Work Sans, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 18px;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #5DC1B9;
  justify-content: center;
}

.dates {
  font-family: "Ubuntu", sans-serif;
  color: white;
}

.container_dates {
  display: flex;
  flex-flow: row-nowrap;
  padding: 10px;
  flex-wrap: wrap;
  padding: 7px;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.izquierda {
  float: left;
  padding: 10px;
  width: 550px;
  margin: 40px;
}

.derecha {
  padding: 10px;
  width: 550px;
  margin: 40px;
}

.hijo {
  width: 50px;
  height: 50px;
  background-color: #5DC1B9;
  border: none;
  padding: 5px;
  margin: 5px;
  font-family: "Ubuntu", sans serif;
  font-size: 38px;
  color: white !important;
}

.hijo2 {
  width: 300px;
  height: 50px;
  background-color: transparent;
  color: black;
  border: none;
  padding: 5px;
  margin: 5px;
  font-family: "Ubuntu", sans serif;
  font-size: 16px;
  color: white !important;
}

.article {
  margin-bottom: 54px;
}
.article .imgHipno {
  float: right;
  width: 300px;
  margin: 10px 40px 0 40px;
}
.article .Parrafo {
  text-indent: 20px;
  margin-bottom: 6px;
  padding-left: 55px;
  padding-right: 55px;
  font-size: 19.5px;
  word-spacing: 7px;
  line-height: 35px;
  color: white;
}
@media (max-width: 640px) {
  .article .Parrafo {
    color: black;
  }
}

@media (max-width: 640px) {
  header {
    background: #7e7b7b;
  }
}
header .tituloHome {
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 35px;
}

/*# sourceMappingURL=estilo.css.map */
